body{
    margin: 0%;
}
header{
    background-color: black;
    position: relative;
    align-items: center;
    margin: auto;
    padding-bottom: 100px;
}
header h1{
    color: white;
    text-align: center;
    padding: 20px;
}
header h4{
    color: white;
    text-align: center;
    padding: 20px;
}