#titulo{
    color: blueviolet;
}
h1{
    color: rgb(19, 255, 2);
}
h2{
    color: rgba(8, 243, 79, 0.523);
}
h4{
    color: #ffffff;
}
body{
    background-color: rgb(20, 18, 18);
}
p{
    color: #ffffff;
}
li{
    color: #ffffff;
    
}